@use "../globales/mixins" as m;
.modal {
  display: none;
  &__content {
    width: 90%;
    max-width: 112rem;
    height: 58.5rem;
    background-color: white;
    outline: 0.1rem solid #cfd5e6;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    z-index: 50;
    animation: endModal 0.4s forwards;
    @include m.desktopFull {
     
     scale: .9;
     
  }

  @include m.tabletM {
    width: 130%;
    scale: .75;
  }
    @include m.telefonoFull {
      height: auto;
    }
  }
  &__title {
    width: 100%;
    padding: 1.6rem 2rem;
    font-size: 2rem;
    color: blue;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    outline: 0.1rem solid #cfd5e6;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m.desktopFull {
    }
    @include m.telefonoFull {
      padding: 1.5rem 2.5rem;
      justify-content: start;
      gap: 0.8rem;
    }
    @include m.telefonom {
    }
    @include m.telefono {
    }
  }
  &__close {
    cursor: pointer;
  }

  &__body {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 2rem;

    @include m.telefonoFull {
      flex-direction: column;
      gap: 1rem;
    }
  }
  &__form {
    width: 56%;
    padding: 3rem 2rem 0rem 2rem;
    color: #071435;

    display: flex;
    flex-direction: column;
    gap: 3rem;
    @include m.telefonoFull {
      width: 100%;
      padding: 0 3rem 0 3rem;
      border: none;
      gap: 2.5rem;
    }
  }

  &__divicion {
    height: 100%;
    border: 0.1rem solid #cfd5e6;
   
    @include m.tabletM {
      border: none;
    }
  }

  &__inputs {
    width: 100%;
    display: grid;
    
    grid-template-columns: repeat(
      3,
      30.5%
    ); /* Define tres columnas de igual tamaño */
    grid-template-areas:
      "primary primaryt combop"
      "surnames surnames combos"
      "inputdate inputdate combot";

    column-gap: 2.5rem;
    row-gap: 2rem;

    @include m.desktopFull {
      gap: 2rem 3rem;
    }
    @include m.telefonoFull {
      grid-template-columns: repeat(
        2,
        48%
      ); /* Define dos columnas de igual tamaño para móviles */
      grid-template-areas:
        "primary primaryt"
        "surnames surnames"
        "inputdate combop"
        "combos combot";
      width: 100%;
      gap: 1rem 2rem;
    }
  }

  &__input {
    all: unset;
    display: block;
    display: flex;
    gap: 2rem;
    padding: 0.6rem 2rem;

    border-radius: 0.4rem;
    outline: 1px solid #cfd5e6;
  
    @include m.desktopFull {
      padding: 0.4rem 0.4rem;
    }
  }

  &__content-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    
    @include m.telefonoFull {
      gap: 0;
    }
  }

  &__combos {
    width: auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;
   
    @include m.desktopFull {
      gap: 0.5rem;
     
    }
    @include m.telefonoFull {
      grid-area: combo;
    }
  }

  &__date {

    width: 100%;
    height: 20rem;
    
    @include m.telefonoFull {
    }
  }
  &__date-content {
    height: 18rem;
    border-radius: 0.6rem;
    outline: 0.2rem solid #cfd5e6;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__date-title {
    font-weight: 600;
    color: #071435;
  }
  &__paragraph-content {
    height: 100%;

    align-content: center;
  }
  &__date-paragraph {
    color: #6b7286;
    margin-top: -2.5rem;
    text-align: center;
    // justify-content: center;
  }
  &__settings {
    padding: 3rem 1.5rem 0rem 0.8rem;

    width: 42%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: black;
    @include m.telefonoFull {
      width: max-content;
      gap: 0.5rem;
      padding: 0 3rem 0 3rem;
      margin-top: -2rem;
      width: 100%;
    }
  }

  //    Radios
  &__radios {
    width: 100%;
    display: flex;
    align-items: center;

    > :nth-child(1) {
      flex: 1;
    }
    > :nth-child(2) {
      flex: 2;
    }
    @include m.telefonoFull {
      > :nth-child(2) {
        flex: 1;
      }
    }
  }
  &__radios-content {
    display: flex;
    flex-direction: column;
  }
  &__radio {
    display: flex;
    gap: 1.8rem;
    font-size: 1.3rem;
    font-weight: 500;

 

    @include m.telefonoFull {
      gap: 1.5rem;
    }
  }
  // checkboxes
  &__checkboxes {
    display: flex;
    align-items: center;
    font-size: 1rem;

    gap: 2rem;
    font-size: 1.5rem;
    input[type="checkbox"] {
      /* Estilos básicos del checkbox */
      appearance: none; /* Remueve el estilo predeterminado */
      width: 15px;
      height: 15px;
      background-color: #f0f0f0; /* Fondo cuando no está seleccionado */
      border: 2px solid #ccc;
      border-radius: 4px;
      position: relative;
      cursor: pointer;
      transition: background-color 0.3s ease, border-color 0.3s ease;

      &:checked {
        background-color: #12a6e6; /* Cambia el fondo cuando está marcado */
        border-color: #12a6e6;

        &::before {
          content: "\2714"; /* Icono del check (puedes usar SVG o un símbolo Unicode) */
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white; /* Color del icono de check */
          font-size: 16px;
        }
      }

      &:hover {
        // border-color: #12A6E6; /* Cambia el color del borde al pasar el cursor */
      }
    }
  }
  &__lblRa {
    display: flex;
    gap: 0.6rem;
  }
  &__label-checkbox {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  // Comboboxes
  &__comboboxes {
  
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    grid-template-areas:
      "comboA comboB"
      "comboC comboD";
    gap: 1rem 2.5rem;
    
    @include m.telefonoFull {
      display: grid;
      grid-template-columns: 80%; /* Dos columnas de igual tamaño */
      grid-template-areas:
        "comboA "
        "comboB"
        "comboC "
        "comboD";
      gap: 1rem;
    }
  }

  &__comboA {
    grid-area: comboA;
  }

  &__comboB {
    grid-area: comboB;
  }

  &__comboC {
    
    grid-area: comboC;
  }

  &__comboD {
   
    grid-area: comboD;
  }
}

.modal.active {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: rgba(9, 8, 8, 0.446);
  display: flex;
  justify-content: center;
  align-items: center;
  @include m.telefonoFull {
    display: none;
  }
}
.modal__content.active {
  animation: animarModal 0.5s forwards;
}

@keyframes animarModal {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes endModal {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-180%);
  }
}

//
.span-name {
  font-size: 1.3rem;
  font-weight: 600;
  color: #071435;
  padding: 0;
  margin: 0;
  text-wrap: nowrap;
 
  @include m.desktopFull {
    font-size: 1.2rem;
  }
}

// Definición de áreas
.modal__content-primary {
  grid-area: primary;
  padding: 0;
}
.modal__content-primaryT {
  grid-area: primaryt;
  padding: 0;
}

.modal__input--surnames {
  grid-area: surnames;
  padding: 0;
}

.modal__input--date {
  grid-area: inputdate;
  padding: 0;
}

.modal__combo-company {
  grid-area: combop;
}

.modal__combo-area {
  grid-area: combos;
  @include m.telefonoFull {
  }
}

.modal__combo-regime {
  grid-area: combot;
  @include m.telefonoFull {
  }
}

.modal__date {
  grid-area: date;
}

.datepicker-container {
  width: 100%;
  @include m.tabletM {
    width: 100%;
  }
}

