@use '../globales/mixins' as m;
.modalM{
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
    overflow: hidden;

    border-radius: 0.8rem;
    background-color: white;
    @include m.telefonoFull {
        padding-bottom: 4.5rem;
    }
    &__contentM{
     
        
    }
    &__title{
        color: #FCAF17;
    }
}