@use '../globales/mixins' as m;

#myTable_wrapper{
    width: 98.5%;

    height: auto;
    margin: 1rem;
  
 
   overflow: scroll;
        scrollbar-color: #000 transparent ;
        
         scrollbar-width:thin; 
    
    
    @include m.desktopFull {
        height: 100%;
    }
}
#myTable{
   
   
    overflow-y: scroll;
    scrollbar-color: #000 transparent ;
    
     scrollbar-width:thin; 

}