@use '../globales/mixins' as m;

#myTable_wrapper{
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    ;
    
     scrollbar-width:thin; 
    @include m.desktopFull {
        height: 100%;
    }
}