@use '../globales/mixins' as m;
.content-Data{
    width: 100%;
    height: 29.4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #6B7286;
    display: none;
    @include m.desktopMediun {
        height: 15%;
      
    }
}