@use '../globales/mixins' as m;
.filters{
    width: 27.7rem;
    height: 98%;
    color: #071435;
    border-radius: .8rem;
    border: 1px solid #CFD5E6;
    background-color: white;
    margin-left: 2rem;
 
    @include m.desktopFullHD {
       
        height: 98%;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-color:    #445C9E #0C2B82;
         scrollbar-width:thin;
         padding-bottom: 1rem;
    }
    // @include m.desktopFull {
        
    //     width: 23rem;
    //     height: 40%;
    //     border-radius: 0;
    //     border-top-left-radius: .8rem;
    //     border-bottom-left-radius: .8rem;
        
    // }
    @include m.desktopFull {
        height: 84.5%;
      }
      @media(max-width:1365px) and (max-height:1300px){
       
        height: 98%;
      }
    @include m.desktopMediun {
        width: 95.5%;
        height: 40%;
        max-height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        border-radius: .8rem;
       
       
    }
    @include m.tabletM {
        display: none;
    }
    @include m.telefonoFull {
        display: none;
    }
    &__title{
        padding: 1.8rem;
        color: #0C2B82;
        border-bottom: 1px solid #CFD5E6;
        @include m.desktopFull {
            padding: 1.2rem 1.8rem;
            font-size: 1.6rem;
        }
        @include m.desktopMediun {
            display: flex;
            justify-content: space-between;
        }
    }
    &__arrow{
        display: none;
        cursor: pointer;
       @include m.desktopMediun {
        display: block;
       }
    }
    &__contentAll{
        // display: flex;
        width: 100%;
       
        @include m.desktopMediun {
            display: flex;
        flex-direction: row;
        gap: 3rem; 
        }
       
        // gap: 1rem;
        // padding: 0.5rem 1.5rem;
        // background-color: red;
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0.5rem 1.5rem;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: max-height 1s ease, visibility 0s 1s;
        // visibility: hidden;
     
        @include m.desktopFull {
            gap: unset;
            gap: 0.5rem;
           
            
        }
        @include m.desktopFull {
            gap: 1rem;
          
        }
       
    }
    &__content-items{
        
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include m.desktopFull {
            gap: 0.5rem;
            font-size: 1.3rem;
        }
        @include m.desktopMediun {
            width: 100%;
        }
    }
}

#filtersHidden{
    display: none;
}

#filtersHidden:checked + .filters__content{
   height: 0;
    padding: 0;
    
    max-height: 0;
    visibility: hidden;
}

#filtersHidden:not(:checked) + .filters__content{
   
     max-height: 100rem;
     visibility: visible;
     transition: max-height 1s ease, visibility 0s;
 }
.filters:has(#filtersHidden:checked){

    height: 5rem;
   
}