@use '../globales/mixins' as m;



.content-table{
    margin-bottom: 0;
  
    @include m.desktopFullHD {
        margin-bottom: 2rem;
    }
     @include m.desktopFull {
        margin-bottom: 2rem;
     }
    &__header-Company{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
      
        border-bottom: .2rem solid #CFD5E6;
        margin: 0;
        padding: 1.3rem 2rem;
        @include m.telefonoFull {
            flex-direction: column;
            align-items:flex-start;
            gap: 1rem;
            padding: 1rem 2rem 0rem 2rem;
        }
    }
    &__btnE{

    }
    
    &__search {
    
    }
    &__btn-add {
     
        // margin-top: 1.8rem;
        @include m.btn-style(.5rem, #0C2B82);
        // margin-top:1rem;
       
       
        
    }
    
    &__title-Company{
        font-size: 2rem;
      
        color: #0C2B82;
        @include m.desktopFull {
            font-size: 1.7rem;
        }
        
    }
   
    
}
.content__title-sub{
    margin-top: -1rem;
    @include m.desktopFull {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
    
}

// searchInput{
.searchInput-content{
   
    display: block;
    position: relative;
    display: flex;    
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
  
    @include m.telefonoFull {
        width: 100%;
        flex-direction: row-reverse;
        top: 1rem;
        right: 2rem;
        position: absolute;
        transition: opacity 1s;
        opacity: 1;
    }
    &__input{
    @include m.searchInputStyle(44rem,  #fff, .7rem);
        @include m.telefonoFull {
            margin-top: 0.8rem;
        }
    @include m.telefonoFull {
       
        padding: 2rem 4rem;
      
    }
    }
    &__iconArrow{
        
        position: absolute;
        align-self: flex-end;
        top: 1rem;
        left: 1rem;
        cursor: pointer;
        display: none;
       
        @include m.telefonoFull {
            margin-top: 0.8rem;
            display: block;
        }
          
        
    }
    &__icon{
       position: absolute;
       margin-left: 1rem;
       margin-top: 0.6rem;
      
       cursor: pointer;
       margin-right: 0;
       pointer-events: none;
       @include m.telefonoFull {
        margin-top: 1.6rem;
        position: absolute;
        right: 0;
        pointer-events: all;
        margin-right: 2rem;
       }       
    } 
    &__visible{
        display: none;
    }
    &__visible:checked + .searchInput-content__input{
        
        visibility: visible;
       
       
       
    }
    &__visible:not(:checked) ~ .searchInput-content__iconArrow{
        @include m.telefonoFull {
            display: none;
        }
    }
    &__visible:not(:checked) ~ .searchInput-content__input{
       
        @include m.telefonoFull {
            padding-left: 2rem;
            
        }
     
    }

    &:has(.searchInput-content__icon ~ .searchInput-content__visible:checked ){
        display: block;
     
        @include m.telefonoFull {
            width: 92.5%;
            animation: opacityAnimate .8s forwards;
        }
       
    }
    &:has(.searchInput-content__icon ~ .searchInput-content__visible:not(:checked) ){
        width: auto;
       
       
       
    }
  
    @keyframes opacityAnimate {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
   
}




.container {
    width: 100%; 
    height: inherit;
    .table{
        width: 100%;
        height: 100%;
        --linewidth: .1rem solid #CFD5E6;
        --padingtable: 0.9rem 2rem;
        height: inherit;
        table-layout: auto;
        border-collapse: separate; /* Necesario para aplicar border-radius correctamente */
        border-spacing: 0; /* Elimina el espacio entre celdas */
       
      
        &__head{

            
           
        }
        &__th{
            border-right:var(--linewidth); /* Borde de las celdas */
            border-bottom: var(--linewidth);

            text-align: left;
            padding: var(--padingtable);
            background-color: #F7FAFB;
            color: #0C2B82;
         
        }
        &__th--notline{
            border-right: none;
        }
        &__td{
            border-right:var(--linewidth); /* Borde de las celdas */
            border-bottom: var(--linewidth); 
            padding: var(--padingtable);
           
        }
        &__td--notline{
            border-right: none;
          
        }
        &__editbtn{  
            all: unset;
            display: block;
            width: 100%;
            height: 2rem;
            cursor: pointer;  
        }
        &__editbtn:hover .svg-color{
            transition: fill .2s ease-in-out;
            fill: #0C2B82;
        }
       
    }
    &__trhead{
        background-color: #f2f2f2;
    }
}


#empresasTable{
    height: fit-content;
}

.content-tableCompany{
    height: 84%;
}
#idEmpresa{
    width: 40%;
}

.sucess-svg2{
    cursor: pointer;
}