
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

:root{
    --primary-font: "Open Sans";
    --primary-Color:#071435;
    --background-Color:#0C2B82;
    --radius-Login: 2rem;
    --shadow-Login:0 6px 12px rgba(58, 58, 58, 0.15);
    --diplay-item: block;
    --imgicon-Lateral:url(../../../Assets/iconos-Logo/aaaa-gigapixel-standard\ v2-1x.png);
    --itemsMenu-ColorPrimary:#FCAF17;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box!important;
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
  }
  [class*="__img"] {
    display: block;
    max-width: 100%;
    height: auto;
  }
  body {
    font-family: var(--primary-font);
    font-size: 1.6rem;
    line-height: 1.6;
     min-height: auto;
     background: var(--background-Color);
     color: white;
    //  overflow: hidden;
   
    
  }
