// Puntos de quiebre en un enfoque desktop-first
$desktop: 1024px;          // Desktops
$desktop-full: 1366px;     // Large desktops
$desktop-ultra-hd: 1500px; // Ultra HD desktops
$tablet-medium: 900px;     // Medium tablets
$tablet-extra-large: 810px; // Extra-large tablets
$tablet: 768px;            // Tablets
$tablet-medium-small: 714px; // Medium-small tablets
$tablet-small: 630px;      // Small tablets
$phone-large: 520px;       // Phone (large screens)
$phone-medium: 414px;      // Phone (medium screens)
$phone: 390px;    
$desktop-mediun:1280px         // Phone (small screens)
